<mat-card class="section-card-400">
  <mat-card-header>
    <mat-card-title>Community Member</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Links for the Community members.
    </p>


  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/guest/login']" routerLinkActive="router-link-active"  mat-button color="primary">Login</a>
    <a [routerLink]="['/guest/register']" routerLinkActive="router-link-active"  mat-button color="primary">Register new user</a>
  </mat-card-actions>
</mat-card>
